{% if role == 'member' %}
{% extends '/member/base.html' %}
{% elif role in ['manager', 'instructor']%}
{% extends 'base.html' %}
{% endif %}
{% block title %}Countryside Swimming Club - Change password{% endblock %}
{% block css %}
<style></style>
{% endblock %}

{% block content %}



<!-- Form to change password -->
<!-- Current password will be validated first -->
<div class="container m-3 p-3">
    <h3 class="m-3">Change password</h3>
    <form action="{{ url_for('change_password') }}" method="POST">
        <div class="row mb-3">
            <label for="username" class="col-md-2 form-label">Current password</label>
            <div class="col-md-4">
                <input type="password" class="form-control" name="current_password" id="current_password" placeholder="Current password" required>
            </div>       
        </div>
        <div class="row mb-3">
            <label for="username" class="col-md-2 form-label">New password</label>
            <div class="col-md-4">
                <input type="password" class="form-control" name="password" id="password" placeholder="New password" required>
            </div>       
        </div>
        <div class="row mb-3">
            <label for="username" class="col-md-2 form-label">Confirm new password</label>
            <div class="col-md-4">
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm new password" required>
            </div>       
        </div>
        <div class="row mb-3">
            <div class="col-md-6 {% if msg %}alert alert-danger{% endif %}" role="alert">{{msg}}</div>
        </div>  
        <div class="row mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Update password</button>
            </div>
        </div>  
    </form>
</div>
{% endblock %}