{% extends 'base.html' %}
{% block title %}Countryside Community Swimming Club  - User Profile{% endblock %}
{% block css %}
<style></style>
{% endblock %}

{% block content %}

<!-- code to display user profile-->
<!-- user, user_status, role passed in as dictionary -->
{% set title_list = ['Mr', 'Mrs', 'Ms', 'Miss', 'Master', 'Dr', 'Prof', 'Sir', 'Lady', 'Lord']%}

<div class="container m-3 p-3">
    <h3 class="m-3">Profile</h3>
    <form id='user_profile_form'enctype="multipart/form-data" action="" method="POST">
        <div class="row mb-3">
            <label for="title" class="col-md-2 form-label">Title</label>
            <div class="col-md-2">
                <select class="form-select selectable" name="title" disabled required>
                    {% for title in title_list %}
                        <option value="{{title}}" {% if user.title == title %}selected{% endif %}>{{title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="first_name" class="col-md-2 form-label">First name</label>
            <div class="col-md-2">
                <input type="text" readonly required class="form-control form-control-plaintext editable" name="first_name" id="first_name" value="{{ user.first_name }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="last_name" class="col-md-2 form-label">Last name</label>
            <div class="col-md-2">
                <input type="text" readonly required class="form-control form-control-plaintext editable" name="last_name" id="last_name" value="{{ user.last_name }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="position" class="col-md-2 form-label">Position</label>
            <div class="col-md-3">
                <input type="text" readonly required class="form-control form-control-plaintext editable" name="position" id="position" value="{{ user.position }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-md-2 form-label">Email</label>
            <div class="col-md-3">
                <input type="email" readonly required class="form-control form-control-plaintext editable" name="email" id="email" value="{{ user.email|d('', true) }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="phone" class="col-md-2 form-label">Phone number</label>
            <div class="col-md-2">
                <input type="tel" readonly required class="form-control form-control-plaintext editable" id="phone" name="phone" pattern="0\d{8,10}" title="Please enter a valid phone number starting with 0 and containing 9 to 11 digits" value="{{ user.phone|d('', true) }}">
            </div>
        </div>
        {% if role =='member' %}
            <div class="row mb-3">
                <label for="address" class="col-md-2 form-label">Address</label>
                <div class="col-md-4">
                    <input type="text" readonly required class="form-control form-control-plaintext editable" id="address" name="address" value="{{ user.address|d('', true) }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="dob" class="col-md-2 form-label">Date of birth</label>
                <div class="col-md-2">
                    <input type="date" readonly required class="form-control form-control-plaintext editable" id="dob" name="dob" value="{{ user.dob|d('', true) }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="health_info" class="col-md-2 form-label">Health information</label>
                <div class="col-md-4">
                    <textarea readonly rows="4" class="form-control form-control-plaintext editable" name="health_info" id="health_info">{{user.health_info|d('', true)}}</textarea>
                </div>
            </div>
        {% endif %}
        {% if role=='instructor' %}
            <div class="row mb-3">
                <label for="profile" class="col-md-2 form-label">Instructor profile</label>
                <div class="col-md-4">
                    <textarea readonly required rows="4" class="form-control form-control-plaintext editable" name="instructor_profile" id="instructor_profile">{{ user.profile|d('', true) }}</textarea>
                </div>
            </div>
        {% endif %}
        {% if role in ['member', 'instructor']%}
            <div class="row mb-3">
                <label for="image" class="col-md-2 form-label">Profile image</label>
                <div class="col-md-2">
                    {% set default_image = url_for('static', filename='images/profile_images/default.jpg') %}
                    {% if user.image  %}
                        <img class="img-fluid mb-3" name="image" id="image" src="{{ url_for('static', filename='images/profile_images/'+user.user_id|string+'/'+user.image) }}" onerror="this.src='{{default_image}}'">
                    {% else %}
                        <img class="img-fluid mb-3" name="image" id="image" src="{{url_for('static', filename='images/profile_images/default.jpg')}}" >
                    {% endif %}
                    <div class="ondemand mb-3" style="display: none;">
                        <input type="file" class="form-control" id="upload_image" name="upload_image" accept="image/*">
                </div>
            </div>
        {% endif %}
        {% if session['role'] == 'manager' %}
            <div class="row mb-3">
                <label for="inactive_user" class="col-md-2 form-label">Inactive user</label>
                <div class="col-md-2">
                    <input class="form-check-input selectable" type="checkbox" name="inactive_user" {% if not user_status %}checked{% endif %} value="1" >
                </div>
            </div>
            <div class="row mb-3"></div>
            <div class="row mb-3">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <button type="button" id="editBtn" class="btn btn-secondary btn-block">Edit</button>
                    <button type="submit" id="submitBtn" class="btn btn-primary btn-block" style="display: none;">Submit</button>
                    <button type="reset" id="cancelBtn" class="btn btn-secondary btn-block" style="display: none;">Cancel</button>
                </div>
            </div>  
        {% endif %}
    </form>
</div>

<!-- <script src="{{url_for('static', filename='/js/form-edit.js')}}"></script> -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // Function to toggle readonly attribute of form fields
        function toggleReadOnly(status) {
            $('.editable').prop('readonly', status);
            $('.selectable').prop('disabled', status);
        }

        // Function to toggle edit and submit buttons
        function toggleButtons() {
            $('#editBtn').toggle();
            $('#submitBtn').toggle();
            $('#cancelBtn').toggle();
            $('.ondemand').toggle();
        }

        // Add event listener to the edit button
        $('#editBtn').click(function() {
            toggleReadOnly(false); // Make editable
            toggleButtons(); // Show submit and cancel buttons, hide edit button
            $('.editable').toggleClass("form-control-plaintext", false);
            $('.editable').toggleClass("form-control", true);
        });

        // Add event listener to the cancel button
        $('#cancelBtn').click(function() {
            toggleReadOnly(true); // Make readonly
            toggleButtons(); // Show edit button, hide submit button
            $('.editable').toggleClass("form-control-plaintext", true);
            $('.editable').toggleClass("form-control", false);
        });
        // Initially make form readonly and show edit button
        toggleReadOnly(true);

        // Validate file format
        $('#user_profile_form').submit(function() {
            var allowedFormats = ['jpg', 'jpeg', 'png', 'gif'];
            var fileName = $('#upload_image').val().toLowerCase();
            if (!fileName) {
                return true;
            }
            var extension = fileName.substring(fileName.lastIndexOf('.') + 1);
            if ($.inArray(extension, allowedFormats) === -1) {
                alert('Invalid file format. Please upload an image with one of the following formats: ' + allowedFormats.join(', '));
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        });
    });

</script>
{% endblock %}