{% extends '/member/base.html' %}
{% block title %}Countryside Swimming Club - Change password{% endblock %}
{% block css %}
<style></style>
{% endblock %}

{% block content %}



<!-- Form to change password -->
<!-- Current password will be validated first -->
<p3 class="m-3 p-3">Change password</p3>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="container m-3 p-3">
<form action="{{ url_for('change_password') }}" method="POST">
    <div class="row mb-3">
        <label for="username" class="col-md-2 form-label">Current password</label>
        <div class="col-md-4">
            <input type="password" class="form-control" name="current_password" id="current_password" placeholder="Current password" required>
        </div>       
    </div>
    <div class="row mb-3">
        <label for="username" class="col-md-2 form-label">New password</label>
        <div class="col-md-4">
            <input type="password" class="form-control" name="password" id="password" placeholder="New password" required>
        </div>       
    </div>
    <div class="row mb-3">
        <label for="username" class="col-md-2 form-label">Confirm new password</label>
        <div class="col-md-4">
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm new password" required>
        </div>       
    </div>
    <div class="row mb-3">{{msg}}</div>  
    <div class="row mb-3">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Update password</button>
        </div>
    </div>  
</form>
</div>
{% endblock %}