{% extends 'base.html' %}

{% block css %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable.css') }}"/>
{% endblock %}

{% block title %}
    Master Timetable
{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-2">
        {#========== Schedule for the instructor ==========#}
        <a href="{{ url_for('timetable_instructor_myschedule') }}" class="btn confirm-btn">
            My Schedule
        </a>
    </div>
    <div class="col-2">
        {#========== Add Class Modal ==========#}
        <button type="button" id="add_class" class="btn key-btn" data-bs-toggle="modal" data-bs-target="#add_class_staticBackdrop">
            Add Class
        </button>

        <div class="modal fade" id="add_class_staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="add_class_form" method="POST" action="{{ url_for('add_class_instructor') }}">
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            Instructor
                        </span>
                        <input type="text" class="form-control" id="add_class_instructor" name="add_class_instructor" value="{{ instructor_info.title }} {{ instructor_info.first_name }} {{ instructor_info.last_name }} -- {{ instructor_info.position }}" readonly>
                        <input type="hidden" id="hidden_instructor_id" value="{{ instructor_info.id }}">
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            Location
                        </span>
                        <select class="form-select" id="add_class_location" name="add_class_location" required>
                            <option value="">Select Location</option>
                          {% for location in locations %}
                          <option value="{{ location.id }}" {% if location.pool_name == 'Deep Pool' %}disabled{% endif %}>{{ location.pool_name }} -- {{ location.lane_name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            Class Type
                        </span>
                        <select class="form-select" id="add_class_type" name="add_class_type" required>
                            <option value="">Select Class Type</option>
                          {% for class_type in class_types %}
                          <option value="{{ class_type.id }}" data-class-type="{{ class_type.class_type }}" {% if class_type.class_type == 'class' %}disabled{% endif %}>{{ class_type.class_type }} -- {{ class_type.class_name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            Open Slot
                        </span>
                        <input type="number" class="form-control" id="open_slot" name="open_slot" min="0" max="" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            Start Time
                        </span>
                        <input type="datetime-local" class="form-control" id="start_time_datetime-local" name="start_time" required step="1800" onchange="adjustTime(this)">
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            End Time
                        </span>
                        <input type="datetime-local" class="form-control" id="end_time_datetime-local" name="end_time" required readonly>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" form="add_class_form" id="add_class_confirm" class="btn confirm-btn">
                            Add Class
                        </button>
                        <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-2">
        {#========== Search Class ==========#}
        <a href="{{ url_for('search_class') }}" class="btn key-btn">Search Class</a>
    </div>

    <div class="col-6">
        {#========== Jump to Week ==========#}
        <div class="container">
            <form action="/timetable_instructor" method="POST">
                <div class="input-group mb-2">
                    <input type="date" id="date" name="date" value="{{ selected_week }}" required>
                    <input type="submit" value="Show timetable">
                </div>
            </form>
        </div>
    </div>

</div>


{#========== Weekly Timetable ==========#}
<div class="table-responsive-xxl">
    <h6 style="color: #575757;"> * Hold down <kbd>Shift</kbd> and use <strong>Mouse Wheel</strong> <span style="font-family: 'Segoe UI Symbol', 'Arial Unicode MS', 'Symbola';">&#128433;</span> to scroll the table left and right. </h6>
    <table id="week_timetable_table">
        <thead>
            <tr>
                <th>Time / Day</th>
                {% for date in week_dates %}
                <th class="text-nowrap {% if date.strftime('%Y-%m-%d') == selected_date.strftime('%Y-%m-%d') %}highlight{% endif %}">
                    <span class="week-day">{{ date.strftime('%A') }}</span><br>
                    <span class="date">{{ date.strftime('%Y-%m-%d') }}</span>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for hour in range(6, 21) %}
            <tr>
                <td class="text-nowrap">{{ hour }}:00</td>
                {% for date in week_dates %}
                <td class="text-nowrap {% if date.date() == selected_date.date() %}highlight{% endif %}">
                    {% for class in classes %}
                        {% if class.start_time.date() == date.date() and class.start_time.hour == hour %}

                            {#========== Class Details Modal ==========#}
                            <div class="class-button-container">
                                <button type="button" class="class-button" data-class-type="{{ class.class_type }}" style="margin-top: 10px;"  data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ class.id }}">
                                    {{ class.class_name }}<br>
                                    {{ class.start_time.strftime('%H:%M') }} -- {{ class.end_time.strftime('%H:%M') }}<br>
                                </button>
                            </div>

                            <div class="modal fade" id="staticBackdrop{{ class.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {% if class.class_type == 1 %}
                                                <img src="https://weinsteinjcc.org/wp-content/uploads/2021/11/Aqua_Zumba-1600x1062.jpg" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% elif class.class_type == 2 %}
                                                <img src="https://www.peaksportsclub.com/wp-content/uploads/2019/12/18-09-04_WhatIsAquaZumba-Jumbo.jpg" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% elif class.class_type == 3 %}
                                                <img src="https://aquamobileswim.com/wp-content/uploads/2013/10/instructor-and-class-on-workout-in-swimming-pool-P8JNZES.jpg" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% elif class.class_type == 4 %}
                                                <img src="https://scarletribbonmerino.com/cdn/shop/articles/Swimming_image_2048x.jpg?v=1466165387" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% elif class.class_type == 5 %}
                                                <img src="https://www.westboroughcc.com/Amenities_(1)/Pool/Junior_Swim_Dive/Junior_Swim_Dive_Photo_Gallery/swim_500x500" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% elif class.class_type == 6 %}
                                                <img src="https://images.squarespace-cdn.com/content/v1/5fae4615d1200b5ef8907ca6/1605953596567-CWEGXUZZCDYYJHN3RHR1/butterfly01.jpg" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% elif class.class_type == 7 %}
                                                <img src="https://swimjim.com/wp-content/uploads/2018/09/beginner-swimming-exercises-1.jpg" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% elif class.class_type == 8 %}
                                                <img src="https://taoliswimmingclub.com/wp-content/uploads/2022/07/7A9A5462-scaled.jpg" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% elif class.class_type == 9 %}
                                                <img src="https://blog.arenaswim.com/wp-content/uploads/2022/02/group-of-swimmers-swimming.jpg" class="img-fluid rounded" style="height: 100%; object-fit: cover;" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group mb-2">
                                                <span class="input-group-text">
                                                    Instructor
                                                </span>
                                                <select class="form-select" id="modal_instructor" name="modal_instructor" disabled>
                                                    {% for instructor in instructors %}
                                                        <option value="{{ instructor.id }}" {% if instructor.id == class.instructor_id %}selected{% endif %}>
                                                            {{ instructor.title }} {{ instructor.first_name }} {{ instructor.last_name }} -- {{ instructor.position }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="input-group mb-2">
                                                <span class="input-group-text">
                                                    Location
                                                </span>
                                                <select class="form-select" id="modal_location" name="modal_location" disabled>
                                                    {% for location in locations %}
                                                        <option value="{{ location.id }}" {% if location.id == class.location_id %}selected{% endif %}>
                                                            {{ location.pool_name }} -- {{ location.lane_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="input-group mb-2">
                                                <span class="input-group-text">
                                                    Class Type
                                                </span>
                                                <select class="form-select" id="modal_class_type" name="modal_class_type" disabled>
                                                    {% for class_type in class_types %}
                                                        <option value="{{ class_type.id }}" {% if class_type.id == class.class_type %}selected{% endif %}>
                                                            {{ class_type.class_type }} -- {{ class_type.class_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="input-group mb-2">
                                                <span class="input-group-text">
                                                    Open Slot
                                                </span>
                                                <input type="number" class="form-control" id="modal_open_slot" name="modal_open_slot" value="{{ class.open_slot }}" readonly>
                                            </div>
                                            <div class="input-group mb-2">
                                                <span class="input-group-text">
                                                    Start Time
                                                </span>
                                                <input type="datetime-local" class="form-control" id="modal_start_time" name="modal_start_time" value="{{ class.formatted_start_time }}" readonly>
                                            </div>
                                            <div class="input-group mb-2">
                                                <span class="input-group-text">
                                                    End Time
                                                </span>
                                                <input type="datetime-local" class="form-control" id="modal_end_time" name="modal_end_time" value="{{ class.formatted_end_time }}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/timetable.js') }}"></script>
{% endblock %}